
@{
    ViewBag.Title = "DeleteVehicle";
}

<div class="container">
	<div>
		<h1>Delete Vehicle</h1>
		<p>Are you sure you want to delete this vehicle?</p>
		<button id="deleteButton">Yes, Delete</button>
		<button id="cancelButton">No, Cancel</button>
	</div>
</div>

