@model CarDealership.UI.Models.AddMakeVM
@{
    ViewBag.Title = "Makes";
}

@section MakeScripts {
	<script src="~/Scripts/JS for Views/Admin_Make.js"></script>
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 align="center">Makes</h1>
			
				@using (Html.BeginForm())
				{
					<div class="col-md-12" style="border: 2px solid black; padding: 20px">
						<div class="row">
							<fieldset class="for-panel">
								<div class="col-md-12">
									<div class="row">
										<h2>Add Make</h2><br />
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-horizontal">
												<p>
													<label>Make</label>
												</p>
												<p>
													@Html.TextBoxFor(m => m.VehicleMakeItem.VehicleMakeDescription, new { @class = "form-control", @placeholder = "New vehicle make" })
												</p><br />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-horizontal">
												<p>
													<button type="submit" class="btn btn-primary" id="saveMakeButton">Save</button>
												</p>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				}
		</div>
	</div><br/>
	<div class="row">
		<div class="col-md-12" id="makeInfoTable">
			<table border="1">
				<thead>
					<tr>
						<th style="width: 100px">Make</th>
						<th style="width: 100px">Date Added</th>
						<th style="width: 200px">User</th>
					</tr>
				</thead>
				<tbody id="makeInfoTable">
					
				</tbody>
			</table>
		</div>
	</div>
</div>

