@model CarDealership.UI.Models.AddModelVM
@{
	ViewBag.Title = "Models";
}

@section ModelScripts {
	<script src="~/Scripts/JS for Views/Admin_Model.js"></script>
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 align="center">Models</h1>

			@using (Html.BeginForm())
			{
				<div class="col-md-12" style="border: 2px solid black; padding: 20px">
					<div class="row">
						<fieldset class="for-panel">
							<div class="col-md-12">
								<div class="col-md-12">
									<div class="row">
										<h2>Add Model</h2><br />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-horizontal">
											<p>
												<label>Model</label>
											</p>
											<p>
												@Html.TextBoxFor(m => m.VehicleModel.VehicleModelDescription, new { @class = "form-control", @placeholder = "New vehicle model" })
											</p><br />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-horizontal">
											<p>
												<label>Make</label>
											</p>
											<p>
												@Html.DropDownListFor(m => m.VehicleModel.VehicleMakeId, Model.MakeItems, "-Choose One-", new { @class = "form-control", @id = "makeDropdown", @placeholder = "Make" })
											</p><br />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-horizontal">
											<p>
												<button type="submit" class="btn btn-primary" id="saveModelButton">Save</button>
											</p>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			}
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-12" id="modelInfoTable">
			<table border="1">
				<thead>
					<tr>
						<th style="width: 100px">Make</th>
						<th style="width: 100px">Model</th>
						<th style="width: 100px">Date Added</th>
						<th style="width: 200px">User</th>
					</tr>
				</thead>
				<tbody id="modelInfoTable"></tbody>
			</table>
		</div>
	</div>
</div>


