@model IEnumerable<CarDealership.Models.VehicleModel>
@{
    ViewBag.Title = "Models";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="font-size:50px">Models</h1>
			<div style="border: 2px solid black; padding: 20px">
				<p>
					New Model
					<input class="text" id="newModelInput" />
					Make
					<input class="dropdown" id="makeDropDown" />
					<button class="btn btn-primary">Save</button>
				</p>
			</div>
			<br />
			<table border="1">
				<thead>
					<tr>
						<th style="width: 100px">Make</th>
						<th style="width: 100px">Model</th>
						<th style="width: 100px">Date Added</th>
						<th style="width: 200px">User</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var vehicle in Model.OrderBy(v => v.VehicleMake.VehicleMakeDescription))
					{
						<tr>
							<td>@vehicle.VehicleMake.VehicleMakeDescription</td>
							<td>@vehicle.VehicleModelDescription</td>
							<td>@vehicle.DateAdded.ToShortDateString()</td>
							<td>@vehicle.User.Email</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

