@model CarDealership.UI.Models.ContactUsVM

@{
	ViewBag.Title = "Contact";
}

@section ContactScripts {
	<script src="~/Scripts/JS for Views/Home_Contact.js"></script>
}


<div class="container">
	<div class="row">
		@using (Html.BeginForm("Contact", "Home"))
		{
			<div class="col-md-5">
				<div class="row">
					<div class="form-horizontal">
						<h1>Contact Us</h1>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="form-horizontal">
						<p>
							<label>Name</label>
						</p>
						<p>
							@Html.TextBoxFor(m => m.ContactUs.FullName, new { @class = "form-control" })
						</p>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="form-horizontal">
						<p>
							<label>Email</label>
						</p>
						<p>
							@Html.TextBoxFor(m => m.ContactUs.Email, new { @class = "form-control" })
						</p>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="form-horizontal">
						<p>
							<label>Phone</label>
						</p>
						<p>
							@Html.TextBoxFor(m => m.ContactUs.Phone, new { @class = "form-control" })
						</p>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="form-horizontal">
						<p>
							<label>Message</label>
						</p>
						<p>
							@Html.TextAreaFor(m => m.ContactUs.Message, new { @class = "form-control" })
						</p>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="form-horizontal">
						<p>
							<button type="submit" class="btn btn-primary" id="submitContactUsQuery">Submit</button>
						</p>
						<br />
					</div>
				</div>
			</div>
		}
		<div class="col-md-offset-6">
			<div class="col-md-5">
				<div class="row">
					<div class="form-horizontal">
						<h1><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11289.051762391437!2d-93.271823!3d44.9789694!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47305550cfd48180!2sThe+Software+Guild!5e0!3m2!1sen!2sus!4v1510860282973" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></h1>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="form-horizontal">
						<address>
							15 S 5th St #600<br />
							Minneapolis, MN, 55402<br />
						</address>
						<address id="dealershipPhones">
							@*phone numbers for the dealership go here*@
						</address>
						<br />
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
