@model IEnumerable<CarDealership.Models.Special>
@{
    ViewBag.Title = "Specials";
}

@section SpecialsScripts {
	<script src="~/Scripts/JS for Views/Home_Specials.js"></script>
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 align="center">Specials</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			@foreach (var special in Model)
			{
				<div class="col-md-12" style="border: 2px solid black; margin: 10px">
					<div class="col-md-2">
						<div class="searchResultsNewVehicles">
							<h3><img src="~/Images/dollarsign.png" id="dollarSignPicture" /></h3>
						</div>
					</div>
					<div class="col-md-10">
						<div class="searchResultsNewVehicles">
							<h3>@special.SpecialTitle</h3>
							<p>@special.SpecialDescription</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					@*space to separate divs*@
				</div>
			}
		</div>
	</div>
</div>

