
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container">
	<div>
		@using (Html.BeginForm("Index", "Sales"))
		{
			<div class="col-md-12">
				<div class="row">
					<h2>Change Password</h2><br />
				</div>
				<div class="row">
					<fieldset class="for-panel">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Password</label>
										</p>
										<p>
											@*NEED TO MAKE THIS FOR USERS ONCE IDENTITY IS SET UP!!!
												@Html.TextBoxFor(m => m.Vehicle.VehicleModel.VehicleMakeId, Model.MakeItems, "-Choose One-", new { @class = "form-control", @placeholder = "Make" })*@
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<label>Confirm Password</label>
										</p>
										<p>
											@*NEED TO MAKE THIS FOR USERS ONCE IDENTITY IS SET UP!!!
												@Html.TextBoxFor(m => m.Vehicle.Year, new { @class = "form-control", @placeholder = "Year" })*@
										</p><br />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-horizontal">
										<p>
											<button class="btn btn-primary" id="savePurchaseButton">Save</button>
										</p><br />
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		}
	</div>
</div>

